
#ContentWrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#MainContainer {
    position: absolute;
    left: 250px;
    top: 0;
    width: 80%;
    font-family: 'Nunito', sans-serif;
    padding-top: 60px;
    margin-bottom: 20vh;
}

.ContentTitle {
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
}

#ContentHeader {
    width: 100%;
}

#ProfileImage {
    border-radius: 50%;
    margin-left: 2em;
}

#ContentDetail {
    padding-top: 5px;
}


.DetailCard {
    border-radius: 1em;
}

.AddCard {
    background-color: rgb(172, 182, 189);
}