

#HomeContainer {
    min-height: 100vh;
    width: 100%;
}

.PrintearName {
    font-family: 'Nunito', sans-serif;
    font-size: 120px;
    color: rgb(36, 133, 202);
}

#Circle {
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translateY(-30%);
    background-color: white;
    border-radius: 0 0 50% 50%;
}

.HomeContent {
    position: absolute;
    width: 100%;
    min-height: 100vh;    
    z-index: 100;
}

p {
    font-family: 'Oxygen', sans-serif;
}

.SignButton {
    margin: 20x;
    padding: 1em;
}


#ContentWrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#MainContainer {
    position: absolute;
    left: 250px;
    top: 0;
    width: 80%;
    font-family: 'Nunito', sans-serif;
    padding-top: 60px;
    margin-bottom: 20vh;
}

.ContentTitle {
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
}

#ContentHeader {
    width: 100%;
}

#ProfileImage {
    border-radius: 50%;
    margin-left: 2em;
}

#ContentDetail {
    padding-top: 5px;
}


.DetailCard {
    border-radius: 1em;
    width: 30%
}

.AddCard {
    background-color: whitesmoke;
}